<app-header></app-header>

   <div class="d-flex justify-content-between " style="margin-top:20px;margin-left:20px;">
      <div class="d-flex" style="font-family: 'Montserrat';font-size: 20px; ">
         <i class="bi bi-house-door"></i>
         <i class="bi bi-caret-right"></i>
         <p>Unidad economica</p>

      </div>
      <a href="#"
         style="font-family: 'Montserrat';font-size: 18px;text-decoration: none; color:blue; margin-right:15px;">
         Manual de usuario</a>
   </div>

   <section class="container">

      <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px; margin-left:20px;">
         <p style=" font-size: 50px;"><strong>Unidad economica</strong></p>
         <div>
            <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; color:rgb(87, 86, 85)">
               <strong>Oficina de registro</strong>
            <p>
         </div>
      </div>

      <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px;">

         <div>

         </div>
      </div>

      <div class="borderso text-center"></div>

      <div class="row" style="margin-top: 50px;">

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">OFICINA:</p>
               <select class="form-control required" id="" name="" style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow:
            0px 2px 2px rgba(0, 0, 0, 0.15); ">
                  <option value="0">Selecciona una opción</option>
                  <option value="1">Persona fisica</option>
                  <option value="2">Persona moral</option>

                  <option value="3">Ambas</option>
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">FECHA:</p>
               <input class="form-control required" id="" name="" type="date" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">CAPTURA RNPA:</p>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="textosolicitud "
            style=" font-family: 'Montserrat'; margin-top: 30px;">
            <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; margin-left:20px; color:rgb(87, 86, 85)">
               <strong>Datos generales</strong>
            <p>
            <div class="borderso text-center"></div>

         </div>


         <div style="margin-top: 20px;"></div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">ESTADO:</p>
               <select class="form-control required" id="" name="" style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow:
            0px 2px 2px rgba(0, 0, 0, 0.15);">
                  <option value="0">Selecciona una opción</option>
                  <option value="1">Persona fisica</option>
                  <option value="2">Persona moral</option>

                  <option value="3">Ambas</option>
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>


         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">CURP:</p>
               <input class="form-control required" id="" name=""
                  onkeypress="return (event.charCode >= 48 && event.charCode <= 57) ||  ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
                  style="border: solid 0.5px rgb(121, 120, 120); text-transform: uppercase;">
            </div>
         </div>



         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">RFC:</p>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">NOMBRES(S):</p>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">APELLIDO PATERNO:</p>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">APELLIDO MATERNO:</p>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>


         <div class="col-md-6">
            <div class="form-group">
               <p class="textonormal titu">CORREO ELECTRONICO:</p>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>


      </div>
   </section>



   <section class="container">

      <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px;">

         <div>
            <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; margin-left:20px; color:rgb(87, 86, 85)">
               <strong >DOMICILIO</strong>
            <p>
         </div>
      </div>




      <div class="borderso text-center"></div>
      <div style="margin-top: 20px;"></div>
      <div class="col-md-4">
         <div class="form-group">
            <p class="textonormal titu">CALLE:</p>
            <input class="form-control required" id="" name="" type="text" maxlength="10">
            <p class="vacio" id=""></p>
         </div>
      </div>


      <div class="row" style="margin-top: 50px;">

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">NUMERO EXTERIOR:<span id="">*</span>:</p>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>


         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">NUMERO INTERIOR:<span id="">*</span>:</p>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">CODIGO POSTAL:<span id="">*</span>:</p>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>


         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">Actividad pesquera</p>
               <select class="form-control required" id="" name="" style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow:
            0px 2px 2px rgba(0, 0, 0, 0.15);">
                  <option value="0">Selecciona una opción</option>
                  <option value="1">Persona fisica</option>
                  <option value="2">Persona moral</option>

                  <option value="3">Ambas</option>
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">Fecha de operaciones</p>
               <input class="form-control required" id="" name="" type="date" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>




         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">Cantidad de pescadores<span id="">*</span>:</p>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>




         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">ESTADO:</p>
               <select class="form-control required" id="" name="" style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow:
            0px 2px 2px rgba(0, 0, 0, 0.15);">
                  <option value="0">Selecciona una opción</option>
                  <option value="1">Persona fisica</option>
                  <option value="2">Persona moral</option>

                  <option value="3">Ambas</option>
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">MUNICIPIO:</p>
               <select class="form-control required" id="" name="" style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow:
            0px 2px 2px rgba(0, 0, 0, 0.15);">
                  <option value="0">Selecciona una opción</option>
                  <option value="1">Persona fisica</option>
                  <option value="2">Persona moral</option>

                  <option value="3">Ambas</option>
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>



         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">LOCALIDAD:</p>
               <select class="form-control required" id="" name="" style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow:
            0px 2px 2px rgba(0, 0, 0, 0.15);">
                  <option value="0">Selecciona una opción</option>
                  <option value="1">Persona fisica</option>
                  <option value="2">Persona moral</option>

                  <option value="3">Ambas</option>
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">TIPO:</p>
               <select class="form-control required" id="" name="" style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow:
            0px 2px 2px rgba(0, 0, 0, 0.15); ">
                  <option value="0">Selecciona una opción</option>
                  <option value="1">Persona fisica</option>
                  <option value="2">Persona moral</option>

                  <option value="3">Ambas</option>
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">ASENTAMIENTO/COLONIA:<span id="">*</span>:</p>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">TELEFONO:<span id="">*</span>:</p>
               <input class="form-control required" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>



      </div>



   </section>



   <section class="container">

      <div class="textosolicitud " style=" font-family: 'Montserrat'; margin-top:30px;">

         <div>
            <p style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; margin-left:20px; color:rgb(87, 86, 85)">
               <strong>Detalle</strong>
            <p>
         </div>
      </div>

      <div class="borderso text-center"></div>



      <div class="row" style="margin-top: 50px;">

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">ACTIVIDAD PESQUERA</p>
               <select class="form-control required" id="" name="" style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow:
            0px 2px 2px rgba(0, 0, 0, 0.15); ">
                  <option value="0">Selecciona una opción</option>
                  <option value="1">Persona fisica</option>
                  <option value="2">Persona moral</option>

                  <option value="3">Ambas</option>
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">FECHA DE OPERACIONES</p>
               <input class="form-control required input" id="" name="" type="date" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">CANTIDAD DE PESCADORES<span id="">*</span>:</p>
               <input class="form-control required input" id="" name="" type="text" maxlength="10">
               <p class="vacio" id=""></p>
            </div>
         </div>

         <p class="container"
            style=" font-family: 'Montserrat'; font-size: 35px; margin-top:35px; margin-left: 20px; color:rgb(87, 86, 85)">
            <strong>Socio 1</strong>
         <p>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">TIPO</p>
               <select class="form-control required" id="" name="" style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow:
            0px 2px 2px rgba(0, 0, 0, 0.15); ">
                  <option value="0">Selecciona una opción</option>
                  <option value="1">Persona fisica</option>
                  <option value="2">Persona moral</option>

                  <option value="3">Ambas</option>
               </select>
               <p class="vacio" id=""></p>
            </div>
         </div>

         <div class="col-md-4">
            <div class="form-group">
               <p class="textonormal titu">CURP:<span id="">*</span>:</p>
               <input class="form-control required" id="" name=""
                  onkeypress="return (event.charCode >= 48 && event.charCode <= 57) ||  ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"
                  style="border: solid 0.5px rgb(121, 120, 120); text-transform: uppercase;">
               <p class="vacio" id=""></p>
            </div>
         </div>

      </div>

      <div class="row">
         <div class="col-md-12">
            <div class="pull-left">
               <p class="top_10">* Campos obligatorios</p>
            </div>
            <div class="d-flex justify-content-end " style="margin-bottom: 50px;">
               <button class="btn btn-default" id="btn_descartar" type="button">Descartar</button>
               <button class="btn btn-primary" id="btn_guardar" type="button">Guardar</button>
            </div>
         </div>
      </div>

   </section>

   <app-footer></app-footer>