<app-header></app-header>

<section>
    <div class="textosolicitud" style=" font-family: 'Montserrat'; font-size:30px; margin-top:30px; margin-left:200px; margin-bottom:30px;" >
      <h1   ><strong>Solicitudes</strong></h1>
    </div>
      <div class="borderso text-center"></div>

  <button onclick="window.modal1.showModal();"style=" margin-left:200px ;" class=" butto2 button2">Agregar
    <i class="bi bi-plus"></i>
  </button>
  <dialog id="modal1">
    <div class="modal-header">
      <h5 style=" font-family: 'Montserrat'; font-size: 20px;" >AGREGAR SOLICITUD</h5>
     <i class="bi bi-x" ></i>
    </div>
    <div class="modal-body">

   
  <div class="justify-content-start" >
    <div>
      <p class="textonormal titu">Proceso:</p>
    <select class="form-select " style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); margin-bottom:3%;" >
      <option selected >Selecciona una opción</option>
      <option value="1">opción 1</option>
      <option value="2">opción 2</option>
      <option value="3">opción 3</option>
    </select>
  </div>
  <div>
      <p class="textonormal titu">Modalidad:</p>
    <select class="form-select " style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); margin-bottom:3%;" >
      <option selected >Selecciona una opción</option>
      <option value="1">opción 1</option>
      <option value="2">opción 2</option>
      <option value="3">opción 3</option>
    </select>
  </div>
  <div>
    <p class="textonormal titu">Tipo de solicitud:</p>
  <select class="form-select " style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); " >
    <option selected >Selecciona una opción</option>
    <option value="1">opción 1</option>
    <option value="2">opción 2</option>
    <option value="3">opción 3</option>
  </select>
</div>
</div>
  <button onclick="window.modal1.close();" class=" butto2 button2">Cancelar
    <i class="bi bi-x"></i>
  </button>
  <button onclick="window.modal1.close();" class="butto button1">Aceptar
    <i class="bi bi-check-lg"></i>
  </button>
  
</div>
</dialog>
 
        <div class=" mt-4 mb-4 d-flex justify-content-start" style="margin-left: 200px;">
          <div>
            <p class="textonormal titu">Estatus:</p>
          
          <select class="form-select " style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);" >
            <option selected >Selecciona una opción</option>
            <option value="1">Todas</option>
            <option value="2">Aprobados</option>
            <option value="3">Rechazados</option>
          </select>
        </div>
          <div class="d-flex justify-content-end col-8">
           
          
            <div >
              <p  class="textonormal titu">Proceso:</p>
            
           
          <select class="form-select" style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15)">
            <option selected>Selecciona una opción</option>
            <option value="1">RNPA</option>
          </select>
        </div>
          <div style="margin-left: 200px;">
            <p  class="textonormal titu">Modalidad:</p>
          
          <select class="form-select" style="font-family: 'Montserrat'; font-size:17px; border: 1px solid #d9d3d3; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15)" >
            
            <option selected>Selecciona una opción</option>
            <option value="1">Todos</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        </div>
        </div>
        <div class="container">
          <table class=" table table-striped table-bordered"  style="font-family: 'Montserrat'; font-size:16px;">
            <thead class="text-center">
              <tr>
                <th scope="col">Folio</th>
                <th scope="col">Fecha</th>
                <th scope="col">Proceso</th>
                <th scope="col">Modalidad</th>
                <th scope="col">Tipo de solicitud</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><a href="" ><i class="bi bi-check2-all"></i></a>
                <a href=""><i class="bi bi-file-earmark-post" style="margin-left: 6%;"></i></a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Thornton</td>
                <td><a href="" ><i class="bi bi-check2-all" ></i></a>
                  <a href=""><i class="bi bi-file-earmark-post" style="margin-left: 6%;"></i></a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>the Bird</td>
                <td><a href="" ><i class="bi bi-check2-all" ></i></a>
                  <a href=""><i class="bi bi-file-earmark-post" style="margin-left: 6%;"></i></a></td>
              </tr>
            </tbody>
          </table>
          
      </div>

    </section>
<app-footer></app-footer>
