.borderso {
  border-top: solid 1px rgb(199, 199, 199);
  margin-top: 50px;
}

.titu {
  font-family: 'Montserrat';
  font-size: 18px;
}

input[type=text] {
  border: 1.5px solid #d9d3d3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 2px solid #d9d3d3;
}