
.textosolicitud{
    margin-top: 50px;
    margin-bottom: 30px;
   
}
select{
   
 
    box-shadow: 3px 3px 5px  rgb(122, 122, 122);
}
th{
    border:  solid 1px  rgb(103, 118, 158);
    
}
td{
    border:  solid 1px  rgb(103, 118, 158);
   
    
}
table{
    
    border:  solid 1px  rgb(70, 82, 114);
   

}
.solicitud{
    font-family: 'Montserrat'; font-size: 60px;
    
}
p{
    font-family: 'Montserrat'; font-size: 17px;

}
.container-fluid {
    width: 80%;
  }

  .borderso {
    border-top: solid 1px rgb(199, 199, 199);
}

.titu {
    font-family: 'Montserrat';
    font-size: 18px;
}


.butto2 {
    background-color: #691831;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 18px;
    margin-top: 30px;
    width: 150px;
    height: 50px;
}

.button2 {
    background-color: white;
    color: #691831;
    border: 2px solid #691831;
}

.button2:hover {
    background-color: #691831;
    color: white;
}


